---
import styles from './BodyGrid.module.css';
import Container from '@components/base/Container.astro';

interface Props {
  fullWidth?: boolean;
  columns?: number;
}

const { fullWidth = false, columns = 1 } = Astro.props;
---

<Container variant={fullWidth ? 'full' : 'wide'}>
  <div 
    class={styles.grid} 
    style={`grid-template-columns: repeat(${columns}, 1fr);`}
  >
    <slot />
  </div>
</Container>
