---
import styles from './Container.module.css';

interface Props {
  variant?: 'narrow' | 'wide' | 'full';
  className?: string;
  fullHeight?: boolean;
  padding?: string;
}

const { variant, className = '', fullHeight, padding } = Astro.props;
const classes = [styles.container, variant ? styles[variant] : '', className, fullHeight ? styles.fullHeight : '', padding ? styles[padding] : ''].join(' ');
---

<div class={classes}>
  <slot />
</div>
