---
import styles from './Container.module.css';

interface Props {
  variant?: 'narrow' | 'wide' | 'full';
  className?: string;
  fullHeight?: boolean;
}

const { variant, className = '', fullHeight } = Astro.props;
const classes = [styles.container, variant ? styles[variant] : '', className, fullHeight ? styles.fullHeight : ''].join(' ');
---

<div class={classes}>
  <slot />
</div>
