.section {
  padding: var(--space-4) 0;
  position: relative;
  overflow: hidden;
}

.alt {
  background-color: var(--color-bg-alt);
}

.compact {
  padding: var(--space-4) 0;
}

.hero {
  padding: var(--space-4) 0;
}

.fullHeightWithHeader{
  height: calc(var(--height-full-screen-with-header) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1200px) {
  .section{
    padding: var(--space-12) var(--space-32);
  }
  .alt {
    background-color: var(--color-bg-alt);
  }

  .compact {
    padding: var(--space-6) 0;
  }

  .hero {
    padding: var(--space-16) 0;
  }

  .fullHeightWithHeader{
    height: var(--height-full-screen-with-header) ;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}