---
import '@styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href={`${import.meta.env.BASE_URL}logo-icon.webp`} />
    <meta name="generator" content={Astro.generator} />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <slot name="seo" />
  </head>
  <body>
    <slot name="header" />
    
    <main>
      <slot />
    </main>

    <slot name="footer" />
  </body>
</html>
